[2017-08-23 03:15] kenhowardpdx opened #1 "not all the gists are displayed (pagination)"
@brpaz wrote here: https://github.com/dbankier/vscode-gist/issues/10

I noticed that not all my gists appear on the menu Since GitHub API limits the number results by default, and after looking at the code, I think its only returning the first page.
This is a big limitation for those who have many gists.

[2017-08-23 03:17] kenhowardpdx opened #2 "Bitbucket Snippets"
@GaryFurash wrote here: https://github.com/dbankier/vscode-gist/issues/12

[2017-08-23 03:19] kenhowardpdx opened #3 ""create new PRIVATE gist" creates anonymous gist after showing error message"
@sekogan wrote here: https://github.com/dbankier/vscode-gist/issues/14

run the command "Gist: create new PRIVATE gist",
enter some name to the "Enter the gist description" box and press Enter,
an error message "Sorry, git must be installed." is displayed. Press the "Close" button.
a browser window is opened with a new anonymous gist. The gist contains the text from the currently opened (in VSC) f

[2017-08-23 03:21] kenhowardpdx opened #4 "Add icon"
![image](https://user-images.githubusercontent.com/1892667/29597445-73acb9a2-8777-11e7-9ad6-5c2519429f6b.png)

[2017-08-23 03:22] kenhowardpdx opened #5 "Insert gist snippet into current document"
@Blumed wrote here https://github.com/dbankier/vscode-gist/issues/25

[2017-08-23 03:23] kenhowardpdx opened #6 "Authentication doesn't support 2FA"
@jcam3ron wrote here https://github.com/dbankier/vscode-gist/issues/26

[2017-08-23 03:25] kenhowardpdx opened #7 "Cannot read property 'label' of null"
@resting wrote here https://github.com/dbankier/vscode-gist/issues/27

VSCode: Version 1.13.0 (1.13.0)
GE: v0.5.3

[2017-08-23 03:27] kenhowardpdx opened #8 "command 'workbench.action.focusLeftEditor' not found"
@flipphillips wrote here https://github.com/dbankier/vscode-gist/issues/29

[2017-08-28 12:22] robertpetras commented on #5
+1
This feature would be very appreciated. At this time there is no such a VS Code extension for that.

[2017-08-28 12:58] robertpetras commented on #6
Okay, so we can not use this great extension with GH's 2 factor authentication unfortunately. :-0

[2017-08-28 15:12] MatthieuScarset commented on #6
@robertpetras nope, we CAN use this extension with GH 2FA.

You need to create a Personal Token and add it to your VS settings:
`"gist.oauth_token": "xxxxxxxxxxxxxx"`

[2017-08-28 16:38] kenhowardpdx commented on #6
I will be looking at 2FA in a future release... but as for now you'll need to use the personal access token.

[2017-08-29 05:29] #5 closed

[2017-08-29 05:37] kenhowardpdx commented on #5
@Blumed & @robertpetras this feature has been added. Enjoy!

[2017-08-29 05:54] #4 closed

[2017-08-29 21:41] hyphaene opened #9 "BUG - save the opened gist does not update it"
**This is a**
- [x] bug report

#### Description
Hi,
I'm on vscode 1.15.1
the extension is on : 1.1.2

the bug is in the title.
=> I create a gist.
=> I open it through the command GIST:open block
=> the file is displayed from /tmp/vscode/<some hash>
=> when I save the file, nothing happens.

Cheers.

[2017-08-30 03:45] #9 closed

[2017-08-30 03:46] kenhowardpdx commented on #9
Thanks for the bug report @hyphaene! I've published the fix.

[2017-08-30 04:02] kenhowardpdx commented on #8
Closing. Can't reproduce.

[2017-08-30 04:02] #8 closed

[2017-08-30 04:06] kenhowardpdx commented on #3
Closing. Can't reproduce.

[2017-08-30 04:06] #3 closed

[2017-08-30 04:06] kenhowardpdx commented on #7
Closing. Can't reproduce.

[2017-08-30 04:06] #7 closed

[2017-08-30 04:59] #1 closed

[2017-08-30 07:07] hyphaene commented on #9
No problem of course, and thank you for the reactivity!

[2017-09-09 02:49] kenhowardpdx commented on #2
I'm looking for a bitbucket sdk to develop this feature. I haven't found anything that looks promising... yet.

[2017-09-09 12:17] kenhowardpdx commented on #2
https://developer.atlassian.com/bitbucket/api/2/reference/

[2017-09-12 19:20] simonwjackson opened #11 "BUG - GIST ERROR"
**This is a**

- [x ] bug report

#### Description
On every file save i get the following error:

`GIST ERROR: {"message":"Server Error", "documentation_url": "https://developer.github.com/v3/gists/#edit-a-gist"} [github]`

[2017-09-12 20:28] kenhowardpdx commented on #11
@simonwjackson thank you for the bug report.

[2017-09-12 20:48] kenhowardpdx opened #12 "BUG - Personal Access Token not invalidated after deleted from GitHub"
**This is a**

- [x] bug report

#### Description

As a user I should be able to delete my access token from within GitHub and Visual Studio Code will recognize this, invalidate the current token, and request the user to re-authorize.

[2017-09-12 21:06] kenhowardpdx commented on #11
@simonwjackson I can't reproduce this specific error but did uncover some undesired behavior in #12

Can you list the steps you took to re-produce this bug? And if possible (not required) screen capture it either in video or in LICEcap
![bug](https://user-images.githubusercontent.com/1892667/30348250-95240d5e-97c3-11e7-875e-be30f455eef0.gif)

[2017-09-12 21:07] kenhowardpdx commented on #12
![bug](https://user-images.githubusercontent.com/1892667/30348277-aef27e64-97c3-11e7-97f5-3fa2de051bd2.gif)

[2017-09-12 21:33] kenhowardpdx opened #13 "Better error messages for GitHub API"
![bug](https://user-images.githubusercontent.com/1892667/30349290-5e8a9d4a-97c7-11e7-856d-d425e2e801a6.gif)

[2017-09-14 06:54] kenhowardpdx opened #14 "Log out of provider"
There needs to be a way to log out of a provider.

[2017-09-14 06:54] #14 closed

[2017-09-18 06:31] baixiaoyu2997 opened #15 "keyboard shortcuts problem"
(sorry for my english)

vscode version:1.16.1
system: win10

e.g: alt+o
when i use it ,vscode show me the "there are no entries to pick from"
what i miss?

[2017-09-18 17:20] kenhowardpdx commented on #15
Hi @baixiaoyu2997!

Thank you for your question. The message you are seeing is from vscode when zero items are available in the quick picker. Do you have a gist saved to github? If not, you will see this message.

Please let me know if you need more help and I will try my best.

[2017-09-19 01:48] baixiaoyu2997 commented on #15
@kenhowardpdx
open vscode ,first time use shortcut keys,show me the:"GIST ERROR: Cannot read property 'name' of undefined [github]",
And then use the shortcut keys will always show "there are no entries to pick from".

when i use F1 ->GIST open block , it's  work,can show me the gist list

[2017-09-19 03:01] kenhowardpdx commented on #15
Can you share which version of the extension you have installed?

[2017-09-19 04:03] baixiaoyu2997 commented on #15
@kenhowardpdx
oh, I just found that I was using another gist extension,haha,  now version is 1.1.4,it's work now ,thanks for you time

[2017-09-19 04:03] baixiaoyu2997 commented on #15
@kenhowardpdx
oh, I just found that I was using another gist extension,haha, now version is 1.1.4,it's work now ,thanks for your time

[2017-09-19 04:07] #15 closed

[2017-09-19 04:48] baixiaoyu2997 commented on #15
@kenhowardpdx
 i very very hope this extension can  add local cace feature,just like evermonkey extension, Will you think about it?

[2017-09-19 17:07] kenhowardpdx commented on #15
@baixiaoyu2997 I will look into it. Would you want to create an issue so you can track the progress?

[2017-09-20 07:00] baixiaoyu2997 commented on #15
@kenhowardpdx
.......no, because it make me  feel like i push you  to work, doesn't feel good,  Ahhhhh

[2017-09-20 18:19] kenhowardpdx commented on #15
¯\_(ツ)_/¯

[2017-09-27 00:17] shadowmaru commented on #6
I actually prefer using Personal Tokens instead of typing my Github password :)

[2017-09-27 19:19] kenhowardpdx commented on #6
@shadowmaru I'm leaning toward prompting users to enter personal access token OR username/password. The underlying code generates a token upon successful login. If you login from multiple machines you end up with multiple personal access tokens which can be confusing when reviewing your personal access tokens.

[2017-10-18 02:11] sveggiani opened #16 "Opening a block/gist causes VSCode to close all unsaved files (possible data loss)"
**This is a**
- [X] bug report
- [ ] feature request

#### Description
Opening a block/gist causes VSCode to close all unsaved files **causing data loss**. Only the active file is kept open.

![ajax_upload](https://user-images.githubusercontent.com/560791/31697796-2a3be8de-b390-11e7-9cf5-b5924d07af38.gif)

[2017-10-19 16:34] kenhowardpdx commented on #16
Ouch! Thanks for the heads up.

[2017-11-03 00:04] stvhwrd opened #18 "BUG - Not opening/acknowledging all files in a multi-file Gist"
**Operating System:**
[code]

**Visual Studio Code:**
[code]

**This is a**

- [ x] bug report

#### Description

When opening a gist with multiple files, only three files are acknowledged/displayed - the first two (gist files are arranged alphabetically) and the last one.
See (8 MB!) GIF below for the result of opening a six-file gist.

![nov-02-2017 16-55-33](https://user-images.githubuserconten

[2017-11-03 00:39] stvhwrd commented on #18
I'm looking for alternatives to [`splitEditor`](https://github.com/kenhowardpdx/vscode-gist/blob/93edeebc4da4442cc0fbc18060cff3b7b66b72a3/src/controllers/main.controller.ts#L91).

 Is there a better source of documentation for VSCode API/commands than the [keybindings page](https://code.visualstudio.com/docs/getstarted/keybindings)?

[2017-11-03 23:35] kenhowardpdx commented on #18
Oh wow! Thanks for reporting. I can see in your GIF that "LEFT" cycles through the remaining files. Good find. I have been wondering if [Multi-root Workspaces](https://code.visualstudio.com/docs/editor/multi-root-workspaces) would be a good fit for this extension. TBH I haven't looked into it much.

[2017-11-04 11:17] eugene2candy commented on #18
I just installed this extension 10min ago. And have the exact same issue.
My opinion to solve this:
After `GIST: Open Block`,  we should have all the options in this specific block, which the same like the function `GIST: Insert Code Into Current File`. So we can choose which we want to open. For me, I don't need to open all the files at the same time...
@kenhowardpdx

[2017-11-05 18:19] kenhowardpdx commented on #18
@eugene2candy interesting suggestion. Maybe a prompt w/ list of files and an option for opening all?

I wonder if a better approach would be to leave "Open Block" as-is but add another command for "Open Block File".

Thoughts?

[2017-11-05 18:31] stvhwrd commented on #18
Selecting individual files is a good idea.

There are times, though, that a user will want all files in a gist. In that case - what about downloading all files to a temporary directory, and using native directory handling in Code? Rather than attempting to open all files on import, you could just open the directory (named for the gist) stored in an OS temp file location.

[2017-11-05 21:44] kenhowardpdx commented on #18
Let's keep this issue focused on the bug...

But feel free to open an issue for these feature requests. I'd be interested in the "Open Block File" feature, but better to discuss in its own thread.

[2017-11-07 19:49] #16 closed

[2017-11-07 19:55] #18 closed

[2017-11-07 20:10] kenhowardpdx commented on #16
@sveggiani I've just put this in the 1.1.5 release https://github.com/kenhowardpdx/vscode-gist/releases/tag/v1.1.5

[2017-11-07 20:10] kenhowardpdx commented on #18
@stvhwrd @eugene2candy this is fixed in v1.1.5 https://github.com/kenhowardpdx/vscode-gist/releases/tag/v1.1.5

[2017-11-08 11:52] kenhowardpdx commented on #11
Closing. If this issue still exists please re-open.

[2017-11-08 11:52] #11 closed

[2017-11-08 12:56] sveggiani commented on #16
@kenhowardpdx thank you very much. Seems to work perfectly now :)

[2017-11-08 14:09] eugene2candy opened #20 "Feature request - Opening a specific file in a block"
**This is a**

- [ ] bug report
- [x] feature request

#### Description
After version 1.1.5, 'open multiple files' issue is fixed.
But it looks like an explosion if a block contains hundreds of files.
Only if a block including less than 20 files is acceptable.
Otherwise it's better to have a chance to open a specific file in a specific block.
Adding another command `GIST: Open Block File` will be

[2017-11-08 14:26] eugene2candy commented on #20
But maybe it's better to combine `GIST: Open Block` and `GIST: Open Block File` into a single command...
[code]

[2017-11-08 18:58] kenhowardpdx commented on #20
Not that I want to slow the users flow, I think this is the right situation for a prompt.

`The selected block contains x number of files. [Open Single File] [Open All]`

The threshold for number of files in block that would trigger this prompt might be configurable... and have a sane default of 10(?).

What do you think @eugene2candy? Would this solution be cumbersome?

[2017-11-08 19:01] kenhowardpdx commented on #20
Sorry.. your approach w/ the list of files and "Open All Files" option at the top of the list makes more sense. I totally missed that line.

Anyone is welcome to take a stab at this. :)

[2017-11-08 20:00] eugene2candy commented on #20
@kenhowardpdx
I think combine `GIST: Open Block File` into `GIST: Open Block` make more sense. So we don't need `GIST: Open Block File` anymore.

And setting a threshold for number of files in a block is necessary because most of users only have a block with 2 or 3 files while a few users have hundreds of files in a single block just like me :D

So anyone can use command `GIST: Open Block` to open

[2017-12-27 21:19] pzelnip opened #21 "FEATURE: Support for manually creating API key instead of supplying password"
**This is a**
- [ ] bug report
- [x] feature request

#### Description

I *really* don't like the idea of giving my password to a 3rd party extension.  Instead I'd rather manually create the API key for creating gists much like I have to for the Settings Sync extension (https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync), and then just have vscode-gist use that API key.

[2018-01-03 04:34] kenhowardpdx commented on #21
Working on it.
![access-token](https://user-images.githubusercontent.com/1892667/34509215-59b544cc-effc-11e7-863a-878de0102448.gif)

[2018-01-03 18:28] kenhowardpdx commented on #20
This feature has been added in v1.2.0 https://github.com/kenhowardpdx/vscode-gist/compare/v1.1.5...v1.2.0

[2018-01-03 18:28] #20 closed

[2018-01-03 18:28] kenhowardpdx commented on #21
This feature has been added in v1.2.0 https://github.com/kenhowardpdx/vscode-gist/compare/v1.1.5...v1.2.0

[2018-01-03 18:28] #21 closed

[2018-01-03 18:32] kenhowardpdx commented on #13
Turns out I needed to JSON.parse the error response from the GitHub Client... weird. Fixed in v1.2.0 https://github.com/kenhowardpdx/vscode-gist/compare/v1.1.5...v1.2.0

[2018-01-03 18:32] #13 closed

[2018-01-03 18:32] kenhowardpdx commented on #12
If "Bad credentials" error occurs, the token will be removed and the user will be logged out.

Fixed in v1.2.0 https://github.com/kenhowardpdx/vscode-gist/compare/v1.1.5...v1.2.0

[2018-01-03 18:32] #12 closed

[2018-01-03 21:59] pzelnip commented on #21
Awesome!  TYVM, works great.

[2018-01-04 00:45] kenhowardpdx commented on #6
FYI, you can now log in w/ a personal access token. https://github.com/kenhowardpdx/vscode-gist/compare/v1.1.5...v1.2.0

Closing for now.

[2018-01-04 00:45] #6 closed

[2018-01-10 09:46] pesimon opened #22 "Feature Request - Command for Login With Access Token"
The git animation shows the `Login With Access Token` but I couldn't find which command is used to set this up.

[2018-01-10 15:00] barneycarroll opened #23 "FEATURE - cater for 2-factor authentication"
**This is a**

- [ ] bug report
- [x] feature request

#### Description

<img width="482" alt="screen shot 2018-01-10 at 14 59 26" src="https://user-images.githubusercontent.com/83627/34779011-e7851dc0-f616-11e7-9814-116af0067fb4.png">

Not sure how I can enable the plugin to perform 2-factor authentication…

[2018-01-10 21:24] kenhowardpdx commented on #22
@pesimon currently you can only access it if you press enter when leaving the username field blank.

I should add commands for both options. Thanks for your feedback!

[2018-01-10 21:27] kenhowardpdx commented on #23
Maybe I should enable 2FA and test this out :)

[2018-01-16 13:17] lambdamusic commented on #23
+1 for this feature

[2018-01-17 10:00] Kamshak commented on #6
How to do this? It only asks me for password :( using gist.oauth_token in user settings didnt work either

[2018-01-17 16:09] kenhowardpdx commented on #6
@Kamshak thanks for letting me know `gist.oauth_token` doesn't work. That is a bug that I'll need to fix.

**Here are the steps for setting the token in the UI:**

1. press `F1` on your keyboard to open the command pallette
2. filter for `GIST: Open Block` and press enter on your keyboard when selected
3. when prompted for a username press enter without entering a value
4. you'll be prompted for a

[2018-01-17 16:11] kenhowardpdx commented on #23
**Here are the steps for setting the token in the UI:**

1. press `F1` on your keyboard to open the command pallette
2. filter for `GIST: Open Block` and press enter on your keyboard when selected
3. when prompted for a username press enter without entering a value
4. you'll be prompted for a personal access token
5. enter personal access token and press enter on your keyboard

[2018-01-17 16:12] kenhowardpdx commented on #22
**Here are the steps for setting the token in the UI:**

1. press `F1` on your keyboard to open the command pallette
2. filter for `GIST: Open Block` and press enter on your keyboard when selected
3. when prompted for a username press enter without entering a value
4. you'll be prompted for a personal access token
5. enter personal access token and press enter on your keyboard

[2018-01-17 17:19] Kamshak commented on #6
Thanks for the explanation! :)
I've just tried again and when selecting the gist.oauth_token from the setting list instead of copying it in it does work. Not entirely sure what went wrong the first time but it was probably something i did.

Thanks for the great addon!

[2018-02-10 12:47] ItsPugle opened #24 "What permissions does the extension need?"
I use two-factor authentication on GitHub, and hence I need to use a Personal Access Token to use this extension. What permissions does this extension need to enable all functions?

[2018-02-10 12:57] ItsPugle commented on #24
Nevermind. For whatever reason, I'm not able to install this on my VSCode instance - seems as though it's something on my end.

[2018-02-10 12:57] #24 closed

[2018-02-17 17:35] texastoland commented on #22
I think you could accept either at the initial prompt and react accordingly if it's a 40-digit hex string.

[2018-02-17 18:36] texastoland commented on #22
Exactly. I don't feel strongly about it. It just sounds nice relative to a blank field or a separate command. I stumbled on the issue looking for another one.

[2018-02-17 18:54] texastoland opened #25 "Move token storage out of settings"
**This is a**

- [ ] bug report
- [x] feature request

#### Description

I want to version my editor settings with my public dotfiles but need to elide my token. It looks like [the GitHub extension](https://github.com/KnisterPeter/vscode-github) implements the [platform `Memento` API](https://code.visualstudio.com/docs/extensionAPI/vscode-api#Memento) to avoid exposing it. See [`tokens.ts`](https:

[2018-02-17 19:11] kenhowardpdx commented on #25
I'm actually storing your token in Memento. The settings file is for legacy users. I could probably pull it since users of this version have always had Memento storage.

[2018-02-17 19:39] texastoland commented on #25
I didn't even try it without the setting 🤦🏽‍♂️ Thanks!

[2018-02-17 19:39] #25 closed

[2018-02-19 22:06] ramsaylanier opened #26 "BUG - Can't create new blocks or save existing ones"
**This is a**

- [ x] bug report
- [ ] feature request

#### Description
VS Code: Version 1.20.1 (1.20.1)
Gist Extension: Version 1.2.0

Simply put, I can't create new blocks or save updates to existing ones. I have successfully validated using a Personal Access Token, and I can open existing blocks. I get a  `GIST ERROR: Not Found[github]` error.

Screenshow below.

![screen shot 2018-02-19 at 5

[2018-02-19 22:19] kenhowardpdx commented on #26
Thanks @ramsaylanier. Are you able to use other commands from the command palette?

[2018-02-19 22:37] ramsaylanier commented on #26
Yup. I can open existing ones. I just can't seem to be able to save/create anything.

[2018-02-20 02:06] ramsaylanier commented on #26
After forking this repo and playing around with it for an hour, I finally realized that I didnt enable gist creation for my Personal Access Token (DOH!).

Might maybe want to add something to the documentation about that if it comes up again.

[2018-02-20 02:06] #26 closed

[2018-02-20 19:42] kenhowardpdx commented on #26
Oh cool! I'm glad you got it working. Yeah, when you login w/ username and password you don't need to worry about it. I'll be sure to update the README.

[2018-03-27 04:40] zingdle opened #27 "FEATURE - Upload several files"
**This is a**

- [ ] bug report
- [x] feature request

#### Description

It would be convenient to upload several files into one block. Or are there any tricks to do so?

[2018-03-27 22:27] kenhowardpdx commented on #27
That does sound like a neat feature. Maybe "Add Open Files To Block". That's the simplest approach at least.

[2018-04-04 07:44] mymartin commented on #22
The prompts that shows in order in Command Palette when you `Create New Block` are:

1. username
2. token
3. description
4. private?

You can press "ESCAPE" and jump to `Login With Access Token`.

[2018-04-14 08:37] mymartin opened #28 "FEATURE - Add Update Block feature"
**This is a**

- [ ] bug report
- [x] feature request

#### Description

Thanks for your contribution.
When I want to update a existing block in this version, I need to Open the block first and then make some changes in the opening files. If I can change the local file, and Update the block directly.

[2018-04-15 00:54] kenhowardpdx commented on #28
I'm reading this to be the preferred workflow:

1. Open local file.
2. Make edits.
3. Create gist from local file.
4. Make edits.
5. Update gist from local file.

----

Current workflow would be:

1. Open local file.
2. Make edits.
3. Create gist from local file.
4. Open newly created gist.
5. Make edits to gist file.
6. Copy edits to local file.
7. Save gist (updates gist on github).

Does that s

[2018-04-15 08:00] mymartin commented on #28
Got it, it's what I mean.

[2018-04-22 22:10] rbenson opened #29 "BUG: token added each login"
**This is a**

- [x] bug report
- [ ] feature request

#### Description

It looks like every log in, or once daily, a new token is added. I added this ext a few days ago, and looking a few minutes ago, I had 5 or 6 tokens for this ext.

[2018-04-23 19:35] kenhowardpdx commented on #29
Can you tell me if the extension is requesting login credentials each time?

[2018-04-23 19:48] rbenson commented on #29
Yes it is.

[2018-04-28 17:38] kenhowardpdx commented on #29
Ok. It's definitely not supposed to do that. Are you on Windows or Mac? Any other information about your setup you can give me?

[2018-05-02 13:27] hallur opened #31 "FEATURE - Ability to specify filename"
**This is a**

- [ ] bug report
- [x] feature request

#### Description
Would be cool if, when creating a new block, you could specify the name of the file. This would be particularly useful when creating a block for an unsaved file so you wouldn't have to edit the gist filename afterwards.

[2018-05-03 21:32] hallur commented on #31
Before or after providing a description for the gist, the user should be prompted for a file name if the file does not already have a name.

Example flow:
1. Create new file
2. Type or paste something to said file
3. Open command palette
4. Type or select "GIST: Create New Block"
5. Provide authentication details if needed
6. Provide description
7. Provide file name if the file does not already ha

[2018-05-12 14:16] Stanzilla opened #32 "URL missing username when creating via token"
**This is a**

- [x] bug report
- [ ] feature request

#### Description

When creating a new gist via the oauth token, the url that is opened in the browser when it is done is missing the username parameter. Maybe add an option to save that to the settings since it is not asked for during the creation flow?

Note: This only happened the first time doing that, every use after the first redirected f

[2018-05-13 23:25] pzelnip opened #33 "Extension Size"
**This is a**

- [ ] bug report
- [x] feature request

#### Description
Looking in my ```/Users/<my user name>/.vscode/extensions/``` directory the kenhowardpdx.vscode-gist-1.2.0 directory is (at 268MB of space) more than twice as big as the next largest extension I have installed.  Looking inside that directory there appears to be a ```.vscode-test``` directory which is the bulk of that space tha

[2018-05-14 15:04] kenhowardpdx commented on #33
Thanks for the report. I'll give this a look.

[2018-05-31 05:10] all4site opened #35 "Changing user"
**This is a**

- [ ] bug report
- [ x] feature request

#### Description

Hello everybody!
I have a question how to change the user. When I enter the username and password from the gihub first time it is remembered forever. How can I change it?

[2018-06-01 02:28] kenhowardpdx commented on #35
Good idea.

[2018-06-01 02:30] #33 closed

[2018-06-01 04:57] kenhowardpdx opened #36 "hoek vulnerability"
https://nvd.nist.gov/vuln/detail/CVE-2018-3728

[2018-06-04 22:17] iddan opened #37 "Feature: Workbench icon & menu"
- [ ] bug report
- [x] feature request

#### Description
Like the Docker extension provide a workbench icon and menu with all of the gists for easy browsing

[2018-06-05 17:56] kenhowardpdx commented on #37
Hi @iddan. Thanks for the request. Can you provide a screenshot of the Docker extension workbench icon?

[2018-06-05 18:32] iddan commented on #37
Look how magnificent it is
<img width="348" alt="screen shot 2018-06-05 at 21 32 25" src="https://user-images.githubusercontent.com/12671072/40995530-f630e75a-6907-11e8-9191-3b66fe2e19be.png">

[2018-06-10 14:58] #36 closed

[2018-06-14 18:08] jonnymaceachern opened #39 "Default to private gist?"
Is there a configuration setting for creating new gist blocks as private by default?

[2018-06-24 01:35] kenhowardpdx commented on #39
There is not but there could be. Thanks for your suggestion.

[2018-06-29 10:18] arekuusa opened #40 "Could not open or create a block due to errors"
Incidentally, I added a block. I could not open and create a block due to errors.
See screenshot http://prntscr.com/k0qzbn
All cleared the cache and removed the extension, installed. Did not help.
What to do? Help me please.

[2018-07-03 00:19] kenhowardpdx commented on #40
![image](https://user-images.githubusercontent.com/1892667/42192169-03ab1d46-7e1c-11e8-9a92-4e97ec80039a.png)

[2018-07-07 02:55] robertmain opened #41 "BUG - vscode-git keeps forgetting my access token and adding a new one"
**This is a**

- [X] bug report
- [ ] feature request

#### Description
Every time I go to create a new gist, it seems to have always forgotten my access token and keeps having me log in again to GitHub. Possibly related to #29

**OS:** Windows 10
**VS Code Version:**
[code]
**Extension Version:** 1.2.1

Screenshot:
![image](https://user-images.githubusercontent.com/537684/42406119-949e31a2-816f-1

[2018-07-16 12:32] arekuusa commented on #40
There's an answer? Corrected?

[2018-08-20 08:43] sergeyfarin opened #42 "BUG vscode-gist not connecting behind proxy"
Error message when connecting from behind proxy:

GIST ERROR: request to https://api.github.com/gists?per_page=9999 failed, reason: connect ETIMEDOUT 192.30.253.117:443 [github]

Proxy settings are specified in environment variable, VSCode user settings and by command line arguments. VS Code itself and other extensions do connect to Github and work fine.

[2018-08-20 20:13] kenhowardpdx commented on #42
That's interesting. Thanks for the bug report. We are using the @octokit/rest node library for accessing github. Maybe there's a similar bug there... https://www.npmjs.com/package/@octokit/rest

I'll investigate.

[2018-08-31 18:14] darktears commented on #42
Same problem for me.

[2018-09-20 12:20] Logerfo opened #43 "FEATURE - Configuration to hide the extension in the status bar"
**This is a**
- [ ] bug report
- [x] feature request

#### Description
![image](https://user-images.githubusercontent.com/19306384/45817751-1bb95280-bcb6-11e8-9a3e-c376adc8b89e.png)
Some extensions have a bool configuration to hide itself in the status bar. It would be nice to have in this one, because its content is not very useful, at least for me.
Here's an example of another open source extens

[2018-09-26 11:47] 3v1n0 opened #44 "FEATURE: associate existing file to existing gist"
**This is a**
- [ ] bug report
- [x ] feature request

#### Description
Say you've a local file and a file in a gist, you want to make sure that everytime you open the local file and modify it, the remote gist related to it is also updated (automatically or at request).

[2018-09-29 21:50] vctsvz opened #45 ""GIST: Open Block" opens more than the last 100 gists [enhancement]"
FEATURE:

**This is a**

- [ ] bug report
- [x] feature request

#### Description
Add the ability to load with `"GIST: Open Block"` more than the last **100** gists.
#

[2018-10-13 17:07] kenhowardpdx commented on #45
Yes. I'm not certain how because I believe the GitHub REST API returns a max of 100 then provides pagination paths.

[2018-10-13 17:11] kenhowardpdx commented on #44
I would love this feature. It's been on my own wish list. I do have mixed feelings about it... maybe provide a way to sync changes to an existing gist file on demand rather than automatically taking every save and publishing it to gist. (this way you can work on your local copy and when you are done with your changes you'd have one commit/publish) Also, not sure if there would be a difference betw

[2018-10-13 17:14] kenhowardpdx commented on #43
Agreed. I added that so a user could see which service they were connected to and and give you the ability to click to disconnect. I had hoped I'd get GitHub Enterprise, Bitbucket, and other services added to this extension.

In conclusion, a boolean would be a nice added feature to turn this off.

[2018-10-13 17:58] kenhowardpdx opened #46 "Tests Needed"
I've struggled with adding tests to this code. If you see something that can be tested and want to submit a pull request, please do so. There's one test file you might use as an example: https://github.com/kenhowardpdx/vscode-gist/blob/master/test/helpers.test.ts

[2018-10-22 07:09] AntonGrekov opened #47 "Auth not saved"
Why extension always ask for a username and password or auth token. Entering it correctly once doesnt solve problem. This is very uncomfortable

[2018-10-22 08:15] AntonGrekov commented on #41
I have same issue.

OS: Windows 10
VS Code Version: 1.28.2
node.js: 8.9.3
arch: x64

I always has to enter access token or username:pass. Also, after entering credentials most of the time nothing happenes

[2018-10-25 08:37] laris opened #48 "FeatureR - create new file (not save) -> add to current Block -> sync to gist -> save to temp"
Currently, only support upload existing file to current open Block, if open new tab and edit, then save to temporary not save local will be better.

**This is a**

- [ ] bug report
- [ ] feature request

#### Description

[2018-10-25 08:54] laris opened #49 "Feature Request: Rename filename if possible"
**This is a**

- [x] feature request
- [ ] bug report

#### Description

[2018-11-01 12:43] mrkafk opened #50 "Set filename to (sanitized) description"
**This is a**

- [ ] bug report
- [x] feature request

#### Description

I do not want to give away the filename I'm working on, incl. public gists.

Would it be possible to add an option to:

- use sanitized description like a filename, like "   python: my nice little function    " -> "python_my_nice_little_function"

- nice to have: use current file's extension for the filename, like .py for pyt

[2018-11-01 12:50] mrkafk opened #51 "Set Github Enterprise URL"
**This is a**

- [ ] bug report
- [x] feature request

#### Description

Some of us would like to use it with their company's GH Enterprise.

[2018-11-10 11:40] epeli opened #52 "Lazy load the extension?"
**This is a**

- [ ] bug report
- [x] feature request

#### Description

I noticed that this extension gets activated on the vscode startup (`"activationEvents": ["*"]` in package.json) which seems little bit weird to me since this is very much a command driven extension.

Why not just lazily activate the extension when one of the registered commands gets called?

Motivation: This is a really usef

[2018-11-10 17:00] kenhowardpdx commented on #49
Similar to #50

[2018-11-10 17:04] kenhowardpdx commented on #48
I think this is somewhat related to #50 where a user could get prompted for a filename if one doesn't exist. However, the current extension will only update files in the correct file path for the extension. Are you proposing that the new file that is created will NOT exist in the folder structure in which you are creating it and only exist in the context of the GIST?

I want to have a better syste

[2018-11-14 08:43] suifeng330104970 opened #53 "awesome tool can we use this on Github Enterprise? please..."
**This is a**

- [ ] bug report
- [ ] feature request

#### Description

[2018-11-14 08:43] suifeng330104970 commented on #53
feature request

[2018-11-14 10:59] laris commented on #48
Ohmm, understand you that not possible for now.
The design thought is how to manage the gist files, how to sync with github.
Anyway, this extension is good enough now, maybe need more good design thought.

Thank for you contribution again!
-Laris

[2018-11-15 04:56] kenhowardpdx commented on #53
Duplicate of #51

[2018-11-15 04:56] #53 closed

[2018-11-15 04:57] kenhowardpdx commented on #47
Hi @AntonGrekov. Do you have any other extensions installed? Which version of vscode-gist do you have?

[2018-11-17 16:51] kenhowardpdx commented on #46
Will have tests in next major release.

[2018-11-17 16:51] #46 closed

[2018-11-21 04:50] kenhowardpdx commented on #47
If this is still an issue please re-open and provide more detail.

[2018-11-21 04:50] #47 closed

[2018-11-21 04:58] kenhowardpdx opened #55 "Feature - User Profiles"
As a user I want to have the ability have multiple profiles and to be able to toggle easily between the profiles.

A profile should include:

- Name (for quick switching)
- Url (optional - defaults to github, can be github enterprise url)
- Personal Access Token

[2018-11-21 12:29] kenhowardpdx commented on #51
This will be introduced in v2.0.0 and implementing in #55

[2018-11-21 12:32] kenhowardpdx commented on #2
Not doing

[2018-11-21 12:32] #2 closed

[2018-11-21 13:18] kenhowardpdx commented on #32
Closing. If this is still an issue please re-open.

[2018-11-21 13:18] #32 closed

[2018-11-28 03:10] kenhowardpdx opened #58 "Patch - Event Stream Security Update"
https://code.visualstudio.com/blogs/2018/11/26/event-stream

[2018-11-28 04:45] #58 closed

[2018-11-29 03:04] kenhowardpdx commented on #55
Resolved in #56

[2018-11-29 03:04] #55 closed

[2018-11-29 03:09] kenhowardpdx opened #61 "Feature - Open Starred Gists"
As a user I want to be able to open my starred gists

[2018-12-01 06:31] #61 closed

[2018-12-01 15:06] kenhowardpdx opened #63 "Feature - Create Gist"
As a user I want to create a new gist based on the current file I have open.

[2018-12-02 20:19] #63 closed

[2018-12-14 14:03] opicron commented on #39
+1

[2018-12-29 07:58] kenhowardpdx commented on #51
Support added in v2.0.0

[2018-12-29 07:58] #51 closed

[2018-12-29 07:58] kenhowardpdx commented on #50
When adding a file you are now prompted to provide a name. It defaults to the current filename.

[2018-12-29 07:58] #50 closed

[2018-12-29 07:59] kenhowardpdx commented on #49
When adding a file you can choose the filename. Supported in v2.0.0

[2018-12-29 07:59] #49 closed

[2018-12-29 08:04] kenhowardpdx commented on #42
@sergeyfarin is this still an issue?

[2018-12-29 08:04] kenhowardpdx commented on #41
I just published v2.0.0, please let me know if you are still experiencing this issue.

[2018-12-29 08:05] kenhowardpdx commented on #40
I've just published v2.0.0 which uses the latest REST library from GitHub. Let me know if you are still experiencing issues.

[2018-12-29 08:06] kenhowardpdx commented on #39
v2.0.0 has support for a configuration option.

[2018-12-29 08:06] #39 closed

[2018-12-29 08:08] kenhowardpdx opened #78 "BUG: When creating a new gist, the file is named 'untitled.txt'"
<img width="716" alt="image" src="https://user-images.githubusercontent.com/1892667/50535321-d8b11b80-0afd-11e9-9b48-c9555871671a.png">

[2018-12-29 08:09] kenhowardpdx commented on #23
I will not handle 2FA. Only personal access tokens will be used from v2.0.0 and beyond.

[2018-12-29 08:09] #23 closed

[2018-12-29 08:10] kenhowardpdx commented on #35
v2.0.0 introduces profiles. You can have multiple users/github enterprise accounts.

[2018-12-29 08:10] #35 closed

[2018-12-29 08:11] kenhowardpdx commented on #29
Is this still happening?

[2018-12-29 08:12] kenhowardpdx commented on #22
v2.0.0 does not authenticate with username and password anymore. personal access token is the only way to authenticate with this extension.

[2018-12-29 08:12] #22 closed

[2018-12-29 17:56] kenhowardpdx opened #79 "BUG: release script generates incorrect changelog"
Note 2.1.0 and 2.0.0 have same features.
Also note `npm run release` bumps the version to 2.1 rather than 2.0.1 due to the incorrect look at the diff.

[code]

[2018-12-29 17:57] kenhowardpdx commented on #78
fixed in `v2.1.0`

[2018-12-29 17:57] #78 closed

[2018-12-30 17:43] joelcancela commented on #41
@kenhowardpdx I had to recreate a profile (by clicking on GIST in the status bar), but it seems to work now.
I relaunched VSCode to try to replicate the issue and it seems fixed, thanks ! :)

[2018-12-31 08:30] kenhowardpdx commented on #41
Great to hear!

[2018-12-31 08:30] #41 closed

[2019-01-07 16:39] jaywryan opened #82 "Feature - Edit Profile"
**This is a**

- [ ] bug report
- [X] feature request

#### Description

I would like the ability to update a profile.  It seems that the only option is to reset everything?  For instance, I want to cycle my Personal Access Token on one profile, or change the name of it.

Also, do I have to map the reset to a command pallet item manually to use it?  Is there a reason you don't have this mapped by

[2019-01-08 03:00] kenhowardpdx commented on #82
The reason it's not in the command pallet is that it is a infrequently used feature. I do hope to allow profiles to be edited and removed in a future release.

[2019-01-08 15:30] jaywryan commented on #82
Thanks, that makes sense.  can you provide some documentation for using the feature if its not exposed?  Maybe this is something most people are aware of, but I'm missing something.  Thanks :-)

[2019-01-09 09:55] mrkafk opened #83 "Github Enterprise and HTTPS certs"
**This is a**
- [x] bug report
- [ ] feature request

#### Description

VSCode: 1.28.2
Extension: 2.1.1

I'm using Github Enterprise at the company.

I get this error on trying to dl gists:

[code]

Our Github Enterprise instance is NOT behind HTTPS proxy. I still set it like this: https://stackoverflow.com/questions/36506539/how-do-i-get-visual-studio-code-to-trust-our-self-signed-proxy-certifica

[2019-01-09 10:14] Systemcluster opened #84 "BUG: Can't type closing curly brace because of the ctrl+alt+0 shortcut on German keyboard layout"
**This is a**
- [x] bug report
- [ ] feature request

#### Description
Since the recent update, `extension.resetState` is bound to `ctrl+alt+0` by default - this clashes with German keyboard layouts, where `AltGr+0` is the closing curly brace `}`. [As `Ctrl+Alt` is an alias for `AltGr` on Windows](https://blogs.msdn.microsoft.com/oldnewthing/20040329-00/?p=40003), this binding makes it impossible

[2019-01-09 15:58] kenhowardpdx commented on #84
Thank you for bringing this to my attention! I had no idea. 😮

[2019-01-09 15:59] kenhowardpdx commented on #83
I’ll investigate.

[2019-01-10 12:38] telekommander commented on #84
Running in the same issue.

Just a Workaround:
Add this to your (global) keybindings.json.
The first entry remap the "resetState" ( my choice ), the second one removes the keymapping coming from the extension.
[code]

[2019-01-10 17:29] kenhowardpdx opened #85 "BUG: Insights Not Working in Production"

[2019-01-12 16:04] #85 closed

[2019-01-12 19:41] #84 closed

[2019-01-12 20:21] kenhowardpdx commented on #79
Not seeing this issue anymore.

[2019-01-12 20:21] #79 closed

[2019-01-12 21:12] kenhowardpdx opened #90 "BUG: Insights tracking exceptions with `messsage` property"
![files](https://user-images.githubusercontent.com/1892667/51078550-5da64400-166b-11e9-9d82-aaf590d9b6f7.png)

![facepalm](https://media.giphy.com/media/27EhcDHnlkw1O/giphy.gif)

[2019-01-13 00:22] kenhowardpdx opened #91 "CHORE: Change insights for Open and Open Favorite to use the full command name"
Currently:
[code]

Should Be:

[code]

I should probably remove the `isFavorite` metric at the same time.

[2019-01-17 14:19] piotrpalarz opened #92 "BUG - Gist is not opened in browser after creating"
**This is a**

- [x] bug report
- [ ] feature request

#### Description

Extension Version: 2.1.2
VS Code Version: 1.30.2
OS: macOS 10.14.2

After adding Gist via **GIST: Create New Gist** it's not opened in the browser like it did before. Insted a file is opened in the VS Code with a path like this: `/var/folders/1c/_lydnfvj6c3fsjc9mfx8fsjw0000gn/T/vscode_gist_c06b732bef6d5e4cd81b052c972f8313_737

[2019-01-17 18:32] kenhowardpdx commented on #92
This is new behavior and working as expected. Because I didn't have telemetry data previously I didn't have any idea which features people were using. I'm going to keep this bug ticket open to see if anyone else is unhappy with this behavior. The current user flow would be `create gist` > `open gist in browser`. That should satisfy your expected behavior until I get consensus on how people are usi

[2019-01-17 22:44] piotrpalarz commented on #92
Thank you for your reply.

This feature is important to me because we have set up guidlines for authors of our courses at eduweb.pl which include creating code snippets (Gists). Our current workflow was like this:

1. Create a Gist from VS Code
2. Copy its ID from the URL opened in the browser
3. Paste that ID in the author's panel to assign it to a lesson

And now we don't have that ID to be easi

[2019-01-18 05:09] kenhowardpdx commented on #92
Is the gist Id the important part here? Or the gist actually opening in the browser?

[2019-01-18 09:31] piotrpalarz commented on #92
The Gist ID is what we care about but since it was opening it in the browser we could copy it from the URL easily.

[2019-01-18 09:52] alexanek commented on #42
Same problem. Can't solve by myself!(

[2019-01-19 18:13] kenhowardpdx commented on #92
Ok. I have some thoughts on this and it's super helpful to have @bertrandom's pull request to help inform my opinion.

What if, instead of opening a gist in a browser and automatically putting the gist URL in the users clipboard (per #93), I add buttons to the notification that will, when clicked, open the gist in a browser or copy the gist url to the clipboard?

This adds the desired behavior in

[2019-01-20 06:48] kenhowardpdx commented on #92
This is looking pretty good. I still have work to do before I can get a release out with this feature. I'll update this thread when I have a better idea when this will be out.

![vscode-confirm-create-dialog](https://user-images.githubusercontent.com/1892667/51436123-c8431b00-1c3b-11e9-91b3-ddefedb4b44a.gif)

[2019-01-22 23:22] kenhowardpdx opened #95 "Docs: "Open Block in Browser" should be relabeled "Open Gist in Browser""

[2019-01-23 10:09] mrkafk commented on #83
Any update please?

[2019-01-27 17:29] MecRND opened #96 "BUG wrong type (public/private) of gists"
- [ x] bug report
- [ ] feature request

#### Description

All gists marked has private are public and all gists marked has public are private.

F1 > GIST: Open Gist to see the list with wrong label

VS Code: Version: 1.30.2
Commit: 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
Date: 2019-01-08T23:10:56.746Z
Electron: 2.0.16
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Linux x64 4.19.16-1-MA

[2019-01-28 04:52] kenhowardpdx commented on #96
I have confirmed that when creating a new gist you can select "Y" for public and "N" for private. The bug is in the label, not the behavior. When viewing your gists in the select dropdown the Gists are incorrectly labeled. They are labeled "PUBLIC" when they are PRIVATE, and labeled "PRIVATE" when they are PUBLIC.

[2019-01-28 10:46] mrkafk commented on #83
This, ahem, solution, has worked:

https://stackoverflow.com/questions/33820733/error-unable-to-verify-the-first-certificate-how-to-trust-all-certificates

But I'm not really happy with it, because obviously it makes VSCode trust ALL the certificates...

[2019-01-29 05:22] kenhowardpdx commented on #83
I will investigate further. Thanks for following up and linking to the vscode issue.

[2019-01-29 12:33] kenhowardpdx commented on #83
https://nodejs.org/api/https.html#https_https_request_options_callback

[2019-02-03 01:18] #83 closed

[2019-02-03 01:18] #95 closed

[2019-02-03 01:18] #96 closed

[2019-02-03 01:20] #90 closed

[2019-02-03 01:40] #92 closed

[2019-02-03 01:42] kenhowardpdx commented on #82
I won't close this, but I just published a new version where you can override your key in extension settings. I still want to get to this feature so I'm keeping it open :)

[2019-02-03 01:46] kenhowardpdx commented on #52
Thanks for your request. Unfortunately most of the use case around this extension is to quickly access and create Gists. Knowing what profile you are using is essential to creating the Gists. This needs to be activated at startup.

[2019-02-03 01:46] #52 closed

[2019-02-03 01:48] kenhowardpdx commented on #42
Can you try using the new `profileOptions` setting and set `rejectUnauthorized` to `false?
https://github.com/kenhowardpdx/vscode-gist#extension-settings

[2019-02-03 01:49] #31 closed

[2019-02-03 13:11] kenhowardpdx opened #102 "FEATURE - Prompt user on save if local copy will overwrite newer file on remote"
**This is a**

- [ ] bug report
- [x] feature request

#### Description

When a user has opened a Gist on there local machine, made some changes, and saves the file, the extension should look at the remote Gist updatedAt timestamp and ask the user if the file can be saved remotely if the local updatedAt is older than the remote updatedAt timestamp.

Example message: “You are attempting to save a G

[2019-02-13 03:35] kenhowardpdx commented on #42
Closing. If this is still an issue please re-open.

[2019-02-13 03:35] #42 closed

[2019-02-14 08:09] sergeyfarin commented on #42
Ken @kenhowardpdx , sorry for the delayed reply! Did not work with VS Code for a while!
I just tested and it works behind proxy.
Thank you very much for your great plugin!

Thank you!!!
Kind Regards,
Sergey

[2019-03-08 06:50] tohjg commented on #82
I accidentally set my profile's name with my private token. Seems like I have to regenerated it again.

[2019-03-22 15:33] const-int commented on #43
Please add this option. I like to keep my status bar simple and clean.

[2019-03-28 15:18] kranthie opened #107 "BUG: Unable to create a new gist using GitHub Enterprise"
**This is a**
- [x] bug report
- [ ] feature request

#### Description
I am using VS Code v1.32.3 with extension v3.0.3 and GitHub Enterprise Server v2.16.4. When I try to create a new gist, I get the following error:
`GIST ERROR: Could Not Create Fiori Elements using BOPF > Reason: Invalid time value`.

I looked at the log file and here are the contents:
[code]

[2019-04-17 06:26] Ativerc opened #108 "BUG - GIST ERROR: Could Not Create gist-description > Reason: Validation Failed"
**This is a**

- [x] bug report

#### Description

* Cannot create new public or private gihub gists.
* Error Message: `GIST ERROR: Could Not Create gist-description > Reason: Validation Failed`
* VSCode Version: 1.33.0
* VSCode Gist Version: 3.0.3

![Screenshot](https://i.imgur.com/uzjXA6Q.png)

[2019-04-17 13:49] Ativerc commented on #108
This is similar to https://github.com/condemil/Gist/issues/66 .

Github doesn't allow to create empty gists and the current UX of vscode-gist doesn't make it clear that gist will be pushed immediately. As a first-time user of this extension, I thought the gist push happens once I save the file. But apparently this happens as soon as I "Create a gist".

Adding an error for "Empty Gist" should solve

[2019-04-17 20:36] kenhowardpdx commented on #108
Good suggestion. The file path of all gist files includes the gist id. It's a chicken & egg scenario.

[2019-04-19 09:26] mlewand commented on #43
Just started cleaning up my status bar too. @kenhowardpdx would you like to get a PR contribution for that enhancement?

[2019-04-19 18:53] kenhowardpdx commented on #43
A PR is very much welcomed @mlewand.

[2019-04-21 16:25] parkerault commented on #37
This 100%. I use the Gist extension to sync my personal wiki across all of my work and home computers. It would be GREAT to be able to browse the wiki without using the ctrl-P menu.

[2019-05-15 01:54] zsytssk opened #109 "add option to search and open specific file"
**This is a**

- [ ] bug report
- [x] feature request

#### Description
can list all file just like quick open, show item like "file.ext gistName";

[2019-05-16 08:30] yeongzhiwei opened #110 "Escaping still creates a gist"
**This is a**

- [x] bug report
- [ ] feature request

#### Description

Version 1.33.1 (1.33.1) on macOS
Gist 3.0.3

Escape does not work after clicking on `GIST: Create New Gist`

If I click esc at the prompt where it asks for filename, it will proceed to the next prompt asking for description. Likewise if I click esc at the prompt where it asks for description, it will still proceed to the next

[2019-05-29 17:13] kenhowardpdx commented on #109
What would you like the command to be? "Open Single File"?

I believe the behavior could be achieved in a similar way to how `maxFiles` works. If you were to configure your `maxFiles` to `1` then this would be the default behavior for `Open Gist`.

I like this idea but wonder if a file navigator would be the right solve. This feature, however, is much easier to implement.

I'll consider it. Thank

[2019-05-29 17:14] kenhowardpdx commented on #110
Thanks for the bug report.

[2019-05-30 01:13] zsytssk commented on #109
I think this feature just like vscode [ctrl+p] search local file.
command like 'find file in gist' would be nice.
file list show gistName/fileName.

[2019-06-06 18:47] kenhowardpdx opened #112 "Refactor Octokit to adhere to deprecation warnings"
**This is a**

- [ ] bug report
- [ ] feature request

#### Description

The latest version of Octokit has deprecation warnings.

- Deprecation: [@octokit/rest] new Octokit({agent}) is deprecated. Use {request: {agent}} instead. See https://github.com/octokit/rest.js#client-options
- Deprecation: [@octokit/rest] octokit.authenticate() is deprecated. Use "auth" constructor option instead.

![image]

[2019-07-02 10:31] ctf0 opened #113 "[FEATURE] allow opening gist in browser directly"
**This is a**

- [ ] bug report
- [x] feature request

#### Description
atm in order to open a gist in the browser it have to first be opened in the editor, but the expected behavior would be opening directly in browser.

[2019-07-02 20:13] kenhowardpdx commented on #113
Thank you for the feature request. I will look into doing this.

[2019-07-14 15:59] SheepDomination opened #114 "Open Gist not showing list of code snippets"
I have a gist on github, although when starting `GIST:Open Gist` followed by typing the name of my gist, I do not get a list of all the gists code snippets ?

[2019-07-16 19:53] kenhowardpdx commented on #114
Do you see anything after selecting `GIST: Open Gist`? An error? Gists that don't belong to you?

[2019-07-16 21:06] SheepDomination commented on #114
I don't see anything when selecting `GIST:Open Gist`, including no errors or any Gists that don't belong to me ?

[2019-07-21 23:10] azivkovi commented on #82
Is there a way to remove a profile at this point?

[2019-07-26 11:06] 2jacobtan opened #115 "BUG - GIST: Add File uploads a file with only one word "subfolder" when my file name ends with the substring "(output subfolder).py""
**This is a**

- [ x ] bug report
- [ ] feature request

#### Description

Gist 3.0.3

**VS Code**
Version: 1.36.1 (user setup)
Commit: 2213894ea0415ee8c85c5eea0d0ff81ecc191529
Date: 2019-07-08T22:59:35.033Z
Electron: 4.2.5
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.15063

(copy-paste from title)
BUG - GIST: Add File uploads a file with only one word "

[2019-07-30 18:36] kenhowardpdx commented on #115
Thank you for the bug report! :)

[2019-07-30 18:39] kenhowardpdx commented on #82
You can use the `Reset State` command: https://github.com/kenhowardpdx/vscode-gist#all-commands--keyboard-mappings

It's the nuclear option.

[2019-07-31 11:25] 2jacobtan commented on #115
Thank you for the extension :)

[2019-09-06 10:06] neesonqk commented on #61
@kenhowardpdx are you able to open your starred gists?

[2019-09-30 02:14] SheepDomination commented on #114
Has Gist changed, as there is no more `GIST:Open Gist` option ?

[2019-10-01 12:24] Logerfo commented on #43
I don't think this is needed anymore since now VSCode has this feature implemented natively.

[2019-10-01 12:40] mlewand commented on #43
@Logerfo that's right, I even didn't notice when I started using this feature.

For anyone looking how to do this, just right click the status bar and pick an option that should be hidden.

![image](https://user-images.githubusercontent.com/5353898/65962614-5d4c1400-e459-11e9-90c5-5c36b0a22e51.png)

@kenhowardpdx I believe that indeed it might be closed.

[2019-10-07 20:08] kenhowardpdx commented on #43
Thanks everyone. I guess I should use VS Code some more. :)

[2019-10-07 20:08] #43 closed

[2019-10-07 20:10] kenhowardpdx commented on #114
It's definitely still a feature. Do you still have the extension installed?
https://github.com/kenhowardpdx/vscode-gist/blob/develop/README.md#openedit-gists

[2019-10-07 20:42] SheepDomination commented on #114
It appears I accidentally removed the extension, although after re-installing the issue I had originally is resolved.
The problem is, the extension only works on github, instead of self-hosted git sites.

[2019-10-07 22:35] kenhowardpdx commented on #114
The extension does work w/ GitHub Enterprise. Please create a new issue with as much details as possible re: GitHub Enterprise.

[2019-10-07 22:35] #114 closed, assigned to nobody

[2019-10-08 06:46] zhuziyi1989 commented on #82
### How can I use this reset command?

**Answer**: ctrl+shift+0  (Number 0)

In the MacOS system environment, the shortcut key "ctrl+shift+0" is used directly to clear the private token. **Although the success is clear, there is no interactive prompt.**

[2019-10-08 07:00] zhuziyi1989 commented on #82
**ctrl+shift+0**

[2019-10-08 07:07] mimohua commented on #82
thinks.

[2019-11-26 13:42] fullenw1 commented on #82
Hi @zhuziyi1989
This does not work for me.
Do you need to be in a specific context?

[2019-12-16 18:20] ctf0 commented on #113
hi again, i managed to add the logic needed to get this option working but i cant either test it with debug or create a vsx to install it.

r u ok to send u a PR with that ?

[2019-12-30 14:57] jamongK opened #120 "How do I delete Gist profile"
**This is a**

- [ ] bug report
- [ ] feature request

#### Description

**I accidentally created 2 profiles of Gist on VSCODE
I want to delete one of them.
Is there any way I can delete it?**

[2019-12-31 01:23] #113 closed, assigned to nobody

[2019-12-31 19:14] kenhowardpdx commented on #120
You can reset the state which will remove all profiles: ctrl+shift+0

https://github.com/kenhowardpdx/vscode-gist#all-commands--keyboard-mappings

[2019-12-31 19:14] #120 closed, assigned to nobody

[2020-01-05 02:15] asears opened #121 "FEATURE - Add Security Policy and improve contributor docs and readme."
**This is a**
- [ ] bug report
- [x] feature request

#### Description
https://help.github.com/en/github/managing-security-vulnerabilities/adding-a-security-policy-to-your-repository

I'll send over a pull request in case it's useful, thanks for quickly answering my questions about the extension on Twitter!

[2020-01-29 14:52] fayimora opened #123 "README needs more information"
**This is a**

- [x] bug report
- [ ] feature request

#### Description
Hi,

Can someone pls add a full sample for `profileOptions` to the readme?

The readme says

To be honest, I have no clue what this all means.

- What debugging capabilities for a gist?
- What's a profile name?
- Where do I get this URL?
- Is the key the token from Github?
- What about 2FA? Will I need something to configure t

[2020-02-16 01:59] kenhowardpdx commented on #123
I understand. This was a work-around for some users wanting to set the profiles in the `settings.json` it shouldn't be used by regular users. I'll look at adding better documentation for this.

[2020-02-16 02:00] kenhowardpdx commented on #121
Thanks for the PR. Sorry for the delayed reply. We can discuss this in the PR. :)

[2020-04-12 21:48] raphlev commented on #82
Hi
extension.resetState or ctrl+shift+0 are not working for me either (windows platform)
I don't find a way to remove profile.

[2020-04-15 22:44] henkisdabro opened #125 "FEATURE Add support for RAW gist links"
**This is a**

- [ ] bug report
- [x] feature request

#### Description
Our team rely heavily on the RAW gist output links that we share amongst the team and external parties as a great way tu reduce clutter and confusion, especially when communicating with less savvy folks. It would be great to add support in extension to open/copy the RAW gist link to the browser/clipboard instead/alongside the

[2020-04-19 17:04] kenhowardpdx commented on #82
You should be able to remap that command. I’ll take a look.

[2020-04-20 07:51] raphlev commented on #82
Hi, from File/Preferences/Keyboard Shortcut menu in VSCode, I was able to change the keyboard binding for extension.resetState and it works now. For some reason, the original mapping for this command is not working on my azerty keyboard.
thanks

[2020-04-29 04:08] shogerr opened #127 "Can't setup initial profile"
Steps:
1. Ctrl+P
2. GIST: Select Profile

Error:
Command 'GIST: Select Profile' resulted in an error (command 'extension.profile.select' not found)

**This is a**

- [x] bug report
- [ ] feature request

#### Description

[2020-05-19 05:38] tyoc213 opened #128 "BUG: Cant create gist from extension ipynb"
**This is a**
- [x] feature request

When I try to create a gist with that extension I got:

`vscode-gist>error: extension.gist.create > Open a file before creating`

But I can create other gist like from py files.

[2020-08-15 05:58] kenhowardpdx commented on #128
Thank you for filing this bug.

[2020-11-23 01:26] MostHated opened #133 "[FEATURE] Allow a way to open Gist and save locally, then issue a command when done editing to save the local copy back to the actual live Gist."
**This is a**

- [ ] bug report
- [x] feature request

Hello,
 While normally this is not a bad habit, in this particular case it sort of is. I tend to save often. Really often. As in after every few lines, words, characters even... and hitting the save hotkey multiple times sequentially. (just to make sure it really did save, right?)

 Due to this, I found that when I went to update my first Gist

[2021-05-22 09:11] carlba commented on #127
I also have this problem.

[2021-05-28 04:47] kenhowardpdx commented on #127
Which version of vscode are you running?

[2021-06-11 00:20] Xutine commented on #127
I don't know if this helps you fix or find the issue but I'm having this issue as well when I go to my about in vs code it gives me: Version: 1.57.0 (user setup)
Commit: b4c1bd0a9b03c749ea011b06c6d2676c8091a70c
Date: 2021-06-09T17:18:42.354Z
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19043

[2021-07-01 04:57] kenhowardpdx commented on #127
I will test as soon as I have a windows machine. I cannot reproduce the issue on Mac.

[2021-07-01 22:01] kenhowardpdx commented on #112
Fixed.

[2021-07-01 22:01] #112 closed, assigned to nobody

[2021-07-02 12:52] #29 closed

[2021-07-02 13:26] kenhowardpdx commented on #128
Is this still an issue? I'm unable to reproduce.

Could you list the steps to reproduce the issue starting from opening VSCode?

[2021-07-02 13:30] kenhowardpdx commented on #91
Won't do.

[2021-07-02 13:30] #91 closed

[2021-07-02 13:31] kenhowardpdx commented on #102
Won't do.

[2021-07-02 13:31] #102 closed

[2021-07-02 13:38] kenhowardpdx commented on #40
Closing.

[2021-07-02 13:38] #40 closed

[2021-07-02 13:45] kenhowardpdx commented on #107
I'm unable to reproduce this bug. Can you tell me more about your environment? Windows, Mac, or Linux?

[2021-07-02 13:46] kenhowardpdx commented on #123
Not updating README. The documentation holds up.

[2021-07-02 13:46] #123 closed, assigned to nobody

[2021-07-02 13:47] kenhowardpdx commented on #121
Closing. Won't add a security policy.

[2021-07-02 13:47] #121 closed, assigned to nobody

[2021-07-02 13:51] kenhowardpdx commented on #115
I'm unable to reproduce. Is this still an issue?

[2021-07-02 21:11] 2jacobtan commented on #115
I've just tested too. Also cannot repro.

Wow it's been 2 years :D

[2021-07-03 14:28] #115 closed, assigned to kenhowardpdx

[2021-07-10 03:43] videni opened #141 "GIST ERROR: Could Not Create > Reason: Open a file before creating"
Steps to reduce
1. Personal access token set
2. select profile  did
3. GIST: create new gist

then got

[code]

[2021-07-10 13:52] kenhowardpdx commented on #141
The flow to create a GIST requires a document to be opened before you create.

[2021-07-28 00:05] k-kuroguro opened #142 "FEATURE - New insert favorite gist command"
**This is a**
- [ ] bug report
- [x] feature request

#### Description
I use gist to manage my snippets, and it would be great if I could insert starred gist as well as my own.

[2021-08-03 19:30] kenhowardpdx commented on #142
Would the desired user flow be:

1. `> GIST: Insert Text From Gist File`
2. Select `Personal Gist` or `Starred Gist`
3. Select Gist
4. Select File to insert

[2021-08-03 23:48] k-kuroguro commented on #142
The fewer steps, the better, in my opinion.

1. Open file and select the insertion point.
2. `> GIST: Insert Text From Gist File` or `Starred Gist File`
3. Select Gist

[2021-08-13 15:51] kelbyers opened #143 "BUG - Cannot paste access token when setting up github enterprise profile"
**This is a**

- [x] bug report
- [ ] feature request

#### Description
When setting up a GitHub Enterprise profile, I try to copy and paste my personal access token, and nothing happens. I was able to paste the URL for the API, but when I paste the token, it remains blank. I had to manually type in my token.

[2021-08-14 13:56] kenhowardpdx commented on #143
Yikes! That's not a good user experience. Which OS? Can you provide the VS Code version you are using?

[2021-08-14 13:58] #141 closed, assigned to nobody

[2021-08-14 13:58] #128 closed, assigned to nobody

[2021-08-14 14:01] kenhowardpdx commented on #133
Thanks for the feature request. This is similar to #44. Keeping open.

[2021-11-29 13:46] AndryWJ commented on #45
can receive all pages? or flipping through the pages until a match is found, slowly but at least it will work

[2022-01-11 15:04] ata-o commented on #108
this also happens if you try to accidentally create an empty gist.

[2022-01-23 09:32] viveksinghal1 commented on #127
Same problem here with windows 10.

[2022-03-06 19:49] dafeder opened #145 "FEATURE - add to Open VSX Registry"
**This is a**

- [ ] bug report
- [x] feature request

#### Description

As this extension carries an open license it would be great to have it available in Open VSX for installation into VSCodium. Willing to create the PR if there is support from maintainers. Thanks!

https://github.com/eclipse/openvsx/wiki/Publishing-Extensions

[2022-05-06 11:00] shirobachi opened #147 "FEATURE: open gist's file"
**This is a**

- [ ] bug report
- [x] feature request

#### Description

I feel like it would be so powerful to be able to open only one file from gist (now command "GIST: open gist" open all files). In my case I have gist for some small scripts all in one gist, so if I want to make any changes I need to open all and then close all but one.
Of course I am not complaining because I love your work a

[2022-05-25 05:24] #142 closed, assigned to nobody

[2022-07-20 07:04] sohang3112 opened #149 "BUG - Unable to save gist"
**This is a**

- [x] bug report
- [ ] feature request

#### Description
I opened one of my public gists (after creating my profile using Github Access Token). But when I tried to save some changes, I got the error `GIST ERROR: Could Not Save "forth-notes.md" > Reason: Not Found`

![Error Screenshot](https://user-images.githubusercontent.com/31966963/179918234-ac74a326-1692-4710-8913-740c6e186344.p